<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.mapsky.weather.desktop.locate</string>
  <key>CFBundleName</key>
  <string>MapSky 定位</string>
  <key>CFBundleDisplayName</key>
  <string>MapSky 定位</string>
  <key>CFBundleExecutable</key>
  <string>MapSkyLocate</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSLocationUsageDescription</key>
  <string>MapSky 需要使用您的位置來顯示所在地的天氣資訊。</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>MapSky 需要使用您的位置來顯示所在地的天氣資訊。</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>MapSky 需要使用您的位置來顯示所在地的天氣資訊。</string>
</dict>
</plist>
